body{
    margin: 0;
    padding: 0;
}
nav{
    width: 100%;
    align-items: center;
    padding: 25px;
    background-color: rgb(255, 253, 124);
}
.header{
      text-align: center;
}
.main{
    margin-top: 10%;
    width: 100%;
    text-align: center;
}
.main-1{
    
    display: inline;
    background-color: yellow;
    padding: 100px;
    font-family: monospace;
    font-size: 20px;
    font-weight: bold;
    border-radius: 15px;
    display: flex;
    margin-left: 160px;
    margin-right: 10px;
}
.main-2{
    
    display: inline;
    background-color: yellow;
    padding: 100px;
    font-family: monospace;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    border-radius: 15px;
    margin-left: 10px;
    margin-right: 10px;
}
.main-3{
    margin-left: 10px;
    margin-right:10px;
    display: inline;
    background-color: yellow;
    padding: 100px;
    font-family: monospace;
    font-size: 20px;
    font-weight: bold;
    display:flex;
    border-radius: 15px;
}
.join-class{
    margin-top: 10 px;
}
.container{
    margin-top: 500px;
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
}
.class-topics, .class-projects{
    list-style: none;
}
.list{
    background-color: yellow;
}
.footer{
    bottom: 0;
    text-align: center;
    line-height: 20;
    background-color: #000;
}